<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="extremo.core.extensions.assistant" name="extremo.core.extensions.assistant" schema="schema/extremo.core.extensions.assistant.exsd"/>
   <extension-point id="extremo.core.extensions.search" name="extremo.core.extensions.search" schema="schema/extremo.core.extensions.search.exsd"/>
   <extension-point id="extremo.core.extensions.constraintinterpreter" name="extremo.core.extensions.constraintinterpreter" schema="schema/extremo.core.extensions.constraintinterpreter.exsd"/>
   <extension-point id="extremo.core.extensions.services" name="extremo.core.extensions.services" schema="schema/extremo.core.extensions.services.exsd"/>
   <extension-point id="extremo.core.extensions.modelpersistence" name="extremo.core.extensions.modelpersistence" schema="schema/extremo.core.extensions.modelpersistence.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uam.extremo.extensions.internal.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="uam.extremo.extensions.ExtremoEditingDomain"
            id="uam.extremo.ExtremoEditingDomain">
      </editingDomain>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="uam.extremo.extensions.ExtremoConsoleFactory"
            icon="icons/Console-16.png"
            label="Extremo Console">
      </consoleFactory>
   </extension>
</plugin>
