<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="extremo.ui.extensions.actions" name="extremo.ui.extensions.actions" schema="schema/extremo.ui.extensions.actions.exsd"/>
   <extension-point id="extremo.ui.extensions.drop" name="extremo.ui.extensions.drop" schema="schema/extremo.ui.extensions.drop.exsd"/>
   <extension-point id="extremo.ui.extensions.filters" name="extremo.ui.extensions.filters" schema="schema/extremo.ui.extensions.filters.exsd"/>
	<extension-point id="extremo.ui.views.extensions.zest.filters" name="extremo.ui.views.extensions.zest.filters" schema="schema/extremo.ui.extensions.zest.filters.exsd"/>
</plugin>
