<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.core.extensions.assistant">
      <assistant
            class="uam.extremo.assistant.ecore.EcoreAssistant"
            eval="OCL"
            extensions="ecore, xmi"
            id="extremo.core.ecore.assistant"
            name="Ecore">
      </assistant>
   </extension>
</plugin>
