<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.core.extensions.assistant">
      <assistant
            class="metardf.core.owl.assistant.OwlAssistant"
            extensions="owl"
            id="metardf.core.owl.assistant"
            name="Owl">
      </assistant>
   </extension>

</plugin>
