<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Extremo -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="semanticmanager.presentation.SemanticmanagerModelWizardID"
            name="%_UI_SemanticmanagerModelWizard_label"
            class="semanticmanager.presentation.SemanticmanagerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SemanticmanagerModelFile.gif">
         <description>%_UI_SemanticmanagerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated Extremo -->
      <editor
            id="semanticmanager.presentation.SemanticmanagerEditorID"
            name="%_UI_SemanticmanagerEditor_label"
            icon="icons/full/obj16/SemanticmanagerModelFile.gif"
            extensions="semanticmanager"
            class="semanticmanager.presentation.SemanticmanagerEditor"
            contributorClass="semanticmanager.presentation.SemanticmanagerActionBarContributor">
      </editor>
   </extension>
</plugin>