<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Extremo"
            id="extremo.ui.views">
      </category>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.repositories.RepositoryViewPart"
            icon="icons/repository.png"
            id="uam.extremo.ui.views.RepositoryView"
            name="Repositories"
            restorable="true">
      </view>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.searchtree.SearchTreeViewPart"
            icon="icons/queries.png"
            id="uam.extremo.ui.views.SearchTree"
            name="Searches"
            restorable="true">
      </view>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.constraints.ConstraintValidationViewPart"
            icon="icons/constraints.png"
            id="uam.extremo.ui.views.ConstraintInterpreters"
            name="Constraints"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="extremo.ui.perspective.extremo">
         <view
               closeable="false"
               id="uam.extremo.ui.views.RepositoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uam.extremo.ui.views.SearchTree"
               minimized="false"
               relationship="right"
               relative="uam.extremo.ui.views.RepositoryView"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uam.extremo.ui.views.ConstraintInterpreters"
               minimized="false"
               relationship="stack"
               relative="uam.extremo.ui.views.SearchTree"
               visible="true">
         </view>
         <perspectiveShortcut
               id="extremo.ui.perspective.extremo">
         </perspectiveShortcut>
         <viewShortcut
               id="uam.extremo.ui.views.RepositoryView">
         </viewShortcut>
         <viewShortcut
               id="uam.extremo.ui.views.SearchTree">
         </viewShortcut>
         <viewShortcut
               id="uam.extremo.ui.views.ConstraintInterpreters">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uam.extremo.ui.views.repositories.actions.SearchSemanticNodesHandler"
            id="uam.extremo.ui.views.searchsemanticNodes"
            name="Search">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.repositories.actions.GoToParentConnectionsHandler"
            id="uam.extremo.ui.views.goToParent"
            name="Go To Parent">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.repositories.DeleteHandler"
            id="uam.extremo.ui.views.delete"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="uam.extremo.ui.views.RepositoryView">
         <propertyCategory></propertyCategory>
      </propertyContributor>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.RepositoryView">
         <command
               commandId="uam.extremo.ui.views.searchsemanticNodes"
               icon="icons/queries.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.delete"
               icon="icons/delete.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uam.extremo.ui.views.RepositoryView">
         <command
               commandId="uam.extremo.ui.views.searchsemanticNodes"
               icon="icons/queries.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.SearchTree">
         <command
               commandId="uam.extremo.ui.views.delete"
               icon="icons/delete.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="uam.extremo.ui.views.ConstraintInterpreters">
         <command
               commandId="uam.extremo.ui.views.delete"
               icon="icons/delete.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="uam.extremo.ui.views.draganddrop.NamedElementDropActionDelegate"
            id="uam.extremo.ui.views.namedElementsDrop">
      </action>
   </extension>
</plugin>
