<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Extremo"
            id="extremo.ui.views">
      </category>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.repositories.RepositoryViewPart"
            icon="icons/site_element.gif"
            id="uam.extremo.ui.views.RepositoryView"
            name="Repositories"
            restorable="true">
      </view>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.searchtree.SearchTreeViewPart"
            icon="icons/searchtree.png"
            id="uam.extremo.ui.views.SearchTree"
            name="Search Word Tree"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="extremo.ui.perspective.extremo">
         <view
               id="uam.extremo.ui.views.RepositoryView"
               minimized="false"
               relationship="bottom">
         </view>
         <view
               id="uam.extremo.ui.views.SearchTree"
               minimized="false"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="uam.extremo.ui.views.SearchTree"
            labelProvider="uam.extremo.ui.views.searchtree.SearchTreeViewLabelProvider">
         <propertyCategory
               category="extremo"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="uam.extremo.ui.views.SearchTree">
         <propertyTab
               category="extremo"
               id="uam.extremo.ui.views.properties.SemanticElementTab"
               image="icons/occ_read.gif"
               label="Basic Info">
         </propertyTab>
         <propertyTab
               afterTab="uam.extremo.ui.views.properties.SemanticElementTab"
               category="extremo"
               id="uam.extremo.ui.views.properties.RepositoryTab"
               image="icons/3d_objects_16.png"
               label="Repository">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="uam.extremo.ui.views.SearchTree">
         <propertySection
               class="uam.extremo.ui.views.properties.entitytab.NameSection"
               filter="uam.extremo.ui.views.properties.entitytab.BasicInformationSectionFilter"
               id="uam.extremo.ui.views.properties.entitytab.NameSection"
               tab="uam.extremo.ui.views.properties.SemanticElementTab">
         </propertySection>
         <propertySection
               afterSection="uam.extremo.ui.views.properties.entitytab.NameSection"
               class="uam.extremo.ui.views.properties.entitytab.DescriptionSection"
               filter="uam.extremo.ui.views.properties.entitytab.BasicInformationSectionFilter"
               id="uam.extremo.ui.views.properties.entitytab.DescriptionSection"
               tab="uam.extremo.ui.views.properties.SemanticElementTab">
         </propertySection>
         <propertySection
               class="uam.extremo.ui.views.properties.entitytab.RepositoryNameSection"
               filter="uam.extremo.ui.views.properties.entitytab.RepositorySectionFilter"
               id="uam.extremo.ui.views.properties.entitytab.RepositoryNameSection"
               tab="uam.extremo.ui.views.properties.RepositoryTab">
         </propertySection>
         <propertySection
               afterSection="uam.extremo.ui.views.properties.entitytab.RepositoryNameSection"
               class="uam.extremo.ui.views.properties.entitytab.RepositoryUriSection"
               filter="uam.extremo.ui.views.properties.entitytab.RepositorySectionFilter"
               id="uam.extremo.ui.views.properties.entitytab.RepositoryUriSection"
               tab="uam.extremo.ui.views.properties.RepositoryTab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.RepositoryView">
         <command
               commandId="uam.extremo.ui.views.searchsemanticNodes"
               icon="icons/search.png"
               style="push">
         </command>
         <separator
               name="uam.extremo.ui.views.separator1">
         </separator>
         <command
               commandId="uam.extremo.ui.views.exploreConnections"
               icon="icons/explore16.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.goToParent"
               icon="icons/up16.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uam.extremo.ui.views.RepositoryView">
         <command
               commandId="uam.extremo.ui.views.searchsemanticNodes"
               icon="icons/search.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uam.extremo.ui.views.repositories.actions.SearchSemanticNodesHandler"
            id="uam.extremo.ui.views.searchsemanticNodes"
            name="Search Semantic Nodes">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.repositories.actions.ExploreConnectionsHandler"
            id="uam.extremo.ui.views.exploreConnections"
            name="Explore">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.repositories.actions.GoToParentConnectionsHandler"
            id="uam.extremo.ui.views.goToParent"
            name="Go To Parent">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="uam.extremo.ui.views.RepositoryView">
         <propertyCategory></propertyCategory>
      </propertyContributor>
   </extension>
</plugin>
