<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EPML -->
      <package
            uri="http://angel539.github.io/extremo/casestudy/epml"
            class="epml.EpmlPackage"
            genModel="model/EPML.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EPML -->
      <package
            uri="urn:iso:std:iso:is:13584:-32:ed-1:tech:xml-schema:ontomlsimplified"
            class="isostdisois_13584_32ed_1techxmlschemaontomlSimplified.Isostdisois_13584_32ed_1techxmlschemaontomlSimplifiedPackage"
            genModel="model/EPML.genmodel"/>
   </extension>

</plugin>
