<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.core.extensions.search">
      <customsearch
            class="uam.extremo.queries.customsearch.SplitNodesSearch"
            description="Split the nodes in groups. In every group a inheritance hierarchy is left."
            filterBy="Resource"
            id="extremo.queries.custom.hierarchygroups"
            level="descriptor"
            name="Node Splitter"
            resultsGrouped="true">
         <option
               id="resource"
               name="Resource"
               type="Resource">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.queries.customsearch.NodesWithoutDescriptionsSearch"
            description="Split the nodes in 2 groups. In the first one appears the nodes with descriptions and in the second one the nodes without descriptions"
            filterBy="Resource"
            id="extremo.queries.custom.nodescriptions"
            level="descriptor"
            name="Nodes without descriptions"
            resultsGrouped="true">
         <option
               id="resource"
               name="Resource"
               type="Resource">
         </option>
      </customsearch>
   </extension>
   <extension
         point="extremo.core.extensions.services">
      <service
            class="uam.extremo.services.InexactMatchingServiceImpl"
            filterBy="String"
            id="extremo.queries.services.inexactmatching"
            name="Inexact Matching">
      </service>
      <service
            class="uam.extremo.services.WordSynonymsExpansionRankingServiceImpl"
            filterBy="String"
            id="extremo.queries.services.synonymsexpansion"
            name="Synonyms Expansion">
      </service>
      <service
            class="uam.extremo.services.IntervalMatchingIntServiceImpl"
            filterBy="Int"
            id="extremo.queries.services.intervalmatchingint"
            name="Interval Matching">
      </service>
      <service
            class="uam.extremo.services.IntervalMatchingFloatServiceImpl"
            filterBy="Float"
            id="extremo.queries.services.intervalmatchingfloat"
            name="Interval Matching">
      </service>
      <service
            class="uam.extremo.services.IntervalMatchingDoubleServiceImpl"
            filterBy="Double"
            id="extremo.queries.services.intervalmatchingdouble"
            name="Interval Matching">
      </service>
   </extension>
   <extension
         point="extremo.core.extensions.search">
      <customsearch
            class="uam.extremo.queries.customsearch.IsolatedClassesSearch"
            description="Checks if a resource contains a node that is isolated"
            filterBy="Resource"
            id="extremo.queries.custom.isolatednodes"
            level="descriptor"
            name="Isolated nodes"
            resultsGrouped="true">
      </customsearch>
      <customsearch
            class="uam.extremo.queries.customsearch.HierarchyLimitSearch"
            description="Checks if a node X is on a level of hierarchy too deep"
            filterBy="Resource"
            id="extremo.queries.custom.hierarchytoodeep"
            level="descriptor"
            name="A hierarchy is too deep "
            resultsGrouped="true">
         <option
               id="maxdepth"
               name="Max Depth"
               type="Int">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.queries.customsearch.InRefsOverloadedSearch"
            description="Checks if a node X is referred from too many others"
            filterBy="Resource"
            id="extremo.queries.custom.toomanyinrefs"
            level="descriptor"
            name="No node is referred from too many others"
            resultsGrouped="true">
         <option
               id="maxrefs"
               name="Max Refs"
               type="Int">
         </option>
      </customsearch>
   </extension>
   <extension
         point="extremo.core.extensions.search">
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.DataPropertiesValueSearch"
            description="Checks if a data property (description) X has value Y"
            filterBy="DataProperty"
            id="extremo.queries.predicatebased.datapropertyvalue"
            name="Data Properties Value">
         <option
               id="valuefield"
               name="Value"
               type="String">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.DataPropertiesValueRangeSearch"
            description="Checks if a data property (description) X has value between Y and Z"
            filterBy="DataProperty"
            id="extremo.queries.predicatebased.datapropertiesvaluerange"
            name="Data Properties Value Range">
         <option
               id="minvaluefield"
               name="Min Value"
               type="Int">
         </option>
         <option
               id="maxvaluefield"
               name="Max Value"
               type="Int">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.NumberOfParentsSearch"
            description="Checks if a node X has more than a number of parents"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.supers"
            name="A node has more than a number of parents">
         <option
               id="parents"
               name="Parents"
               type="Int">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.NumberOfChildrenSearch"
            description="Checks if a node X has more than a number of children"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.subs"
            name="A node has more than a number of children">
         <option
               id="children"
               name="Children"
               type="Int">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.RefsOverloadedSearch"
            description="Checks if a node contains more than a number of references"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.refsoverloaded"
            name="References are overloaded">
         <option
               id="maxrefs"
               name="Max Refs"
               type="Int">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.AttrsOverloadedSearch"
            description="Checks if a node contains more than a number of attributes"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.attrsoverloaded"
            name="Attributes are overloaded">
         <option
               id="maxattrs"
               name="Max Attrs"
               type="Int">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.AbstractClassUniqueChildSearch"
            description="Checks if a node is abstract and has a unique child"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.abstractclassuniquechild"
            name="An abstract node with an unique child">
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.AbstractClassWithoutChildrenSearch"
            description="Checks if a node is abstract and has no children"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.abstractclasswithoutchildren"
            name="An abstract node without children">
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.SemanticNodeNameSearch"
            description="Checks if a semantic node has a name X"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.semanticNodeValue"
            name="A Semantic Node Has A Name">
         <option
               id="name"
               name="name"
               type="String">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.DataPropertyName"
            description="Checks if a data property has a name X"
            filterBy="DataProperty"
            id="extremo.queries.predicatebased.dataPropertyNode"
            name="A Data Property Has A Name">
         <option
               id="name"
               name="name"
               type="String">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.ObjectPropertyName"
            description="Checks if a object property has a name X"
            filterBy="ObjectProperty"
            id="extremo.queries.predicatebased.objectPropertyNode"
            name="An Object Property Has A Name">
         <option
               id="name"
               name="name"
               type="String">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.SemanticNodeDataPropertiesValueSearch"
            description="Checks if a semantic node has a data property which value is X"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.semanticnodedatapropertyvalue"
            name="A node with a property that values X">
         <option
               id="value"
               name="Value"
               type="String">
         </option>
      </predicatebasedsearch>
   </extension>
   <extension
         point="extremo.core.extensions.search">
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.types.SemanticNodeIsTypeOf"
            description="Checks if a semantic node is type of a chosen descriptor"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.semanticnodetype"
            name="A Semantic Node Is Type Of">
         <option
               id="descriptor"
               name="descriptor"
               type="SemanticNode">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.types.DataPropertyIsTypeOf"
            description="Checks if a data property is type of a chosen descriptor"
            filterBy="DataProperty"
            id="extremo.queries.predicatebased.datapropertytype"
            name="A Data Property Is Type Of">
         <option
               id="descriptor"
               name="descriptor"
               type="DataProperty">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.types.ObjectPropertyIsTypeOf"
            description="Checks if a object property is type of a chosen descriptor"
            filterBy="ObjectProperty"
            id="extremo.queries.predicatebased.objectpropertytype"
            name="A Object Property Is Type Of">
         <option
               id="descriptor"
               name="descriptor"
               type="ObjectProperty">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.types.ObjectPropertyIsKindOf"
            description="Checks if a object property is kind of a chosen descriptor"
            filterBy="ObjectProperty"
            id="extremo.queries.predicatebased.objectpropertykind"
            name="A Object Property Is Kind Of">
         <option
               id="descriptor"
               name="descriptor"
               type="ObjectProperty">
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.types.DataPropertyIsKindOf"
            description="Checks if a data property is kind of a chosen descriptor"
            filterBy="DataProperty"
            id="extremo.queries.predicatebased.datapropertykind"
            name="A Data Property Is Kind Of">
         <option
               id="descriptor"
               name="descriptor"
               type="DataProperty">
         <option
               id="descriptor"
               name="descriptor"
               type="SemanticNode">
         </option>
         </option>
      </predicatebasedsearch>
      <predicatebasedsearch
            class="uam.extremo.queries.predicatebasedsearch.types.SemanticNodeIsKindOf"
            description="Checks if a semantic node is kind of a chosen descriptor"
            filterBy="SemanticNode"
            id="extremo.queries.predicatebased.semanticnodekind"
            name="A Semantic Node Is Kind Of">
         <option
               id="descriptor"
               name="descriptor"
               type="SemanticNode">
            <option
                  id="descriptor"
                  name="descriptor"
                  type="SemanticNode">
            </option>
         </option>
      </predicatebasedsearch>
   </extension>
</plugin>
