<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.core.extensions.search">
      <customsearch
            class="uam.extremo.search.metrics.AttrsOverloadedSearch"
            id="uam.extremo.search.metrics.attrs"
            name="Attributes are overloaded"
            filterBy="Resource">
         <option
               id="maxattrs"
               name="Max Attrs"
               type="Int">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.search.metrics.RefsOverloadedSearch"
            id="uam.extremo.search.metrics.refs"
            name="References are overloaded"
            filterBy="Resource">
         <option
               id="maxrefs"
               name="Max Refs"
               type="Int">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.search.metrics.InRefsOverloadedSearch"
            id="uam.extremo.search.metrics.inrefs"
            name="No class is referred from too many others"
            filterBy="Resource">
         <option
               id="maxrefs"
               name="Max Refs"
               type="Int">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.search.metrics.HierarchyLimitSearch"
            id="uam.extremo.search.metrics.hierarchy"
            name="A hierarchy is too deep "
            filterBy="Resource">
         <option
               id="maxdepth"
               name="Max Depth"
               type="Int">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.search.metrics.ChildrenLimitSearch"
            id="uam.extremo.search.metrics.children"
            name="No class has too many direct children"
            filterBy="Resource">
         <option
               id="maxchildren"
               name="Max Children"
               type="Int">
         </option>
      </customsearch>
   </extension>
</plugin>
