<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="UML2"
         point="extremo.ui.extensions.actions">
      <action
            class="uam.extremo.ui.views.actions.uml2.action.CreateClass"
            editor="org.eclipse.uml2.uml.editor.presentation.UMLEditor"
            editorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            icon="icons/geometry.png"
            id="metaRDF.ui.actions.uml2.action.CreateClass"
            name="CreateUMLClass"
            position="menumanager"
            view="entities">
      </action>
      <action
            class="uam.extremo.ui.views.actions.uml2.action.CreateAttribute"
            editorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID"
            icon="icons/sort_down.png"
            id="metaRDF.ui.actions.uml2.action.CreateAttribute"
            name="CreateUMLAttribute"
            position="menumanager"
            view="entities">
      </action>
   </extension>

</plugin>
