<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.core.extensions.constraintinterpreter">
      <constraintinterpreter
            class="uam.extremo.constraints.regex.RegexConstraintInterpreter"
            id="uam.extremo.constraints.regex"
            name="Regex">
      </constraintinterpreter>
   </extension>

</plugin>
