<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="metardf.ui.perspective.ExtremoPerspective"
            icon="icons/extremoIcon16.png"
            id="metaRDF.ui.perspective.extremo"
            name="Extremo">
      </perspective>
   </extension>

</plugin>
