<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="metaRDF.ui.actions">
      <action
            class="metardf.ui.actions.test.SearchEntity"
            icon="icons/search.png"
            id="metaRDF.ui.actions.test.searchentity"
            name="Search"
            position="toolbar"
            view="entities">
      </action>
      <action
            class="metardf.ui.actions.test.SearchEntity"
            icon="icons/details_view.gif"
            id="metaRDF.ui.actions.test.searchentity"
            name="Expand Entity"
            position="menumanager"
            view="entities">
      </action>
   </extension>

</plugin>
