<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="extremo.core.extensions.assistant" name="extremo.core.extensions.assistant" schema="schema/extremo.core.extensions.assistant.exsd"/>
   <extension-point id="extremo.core.extensions.weights" name="extremo.core.extensions.weights" schema="schema/extremo.core.extensions.weights.exsd"/>

</plugin>
