<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="metaRDF.ui.zest.filters" name="metaRDF.ui.zest.filters" schema="schema/metaRDF.ui.zest.filters.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="metaRDF.ui"
            class="metardf.ui.zest.views.inheritance.InheritanceGraphViewPart"
            icon="icons/parent_guardian.png"
            id="metardf.ui.zest.view.InheritanceGraphViewPart"
            name="Superclasses"
            restorable="true">
      </view>
      <view
            category="metaRDF.ui"
            class="metardf.ui.zest.views.relations.RelationshipGraphViewPart"
            icon="icons/change_theme.png"
            id="metardf.ui.zest.view.RelationGraphViewPart"
            name="Relations"
            restorable="true">
      </view>
   </extension>


</plugin>
