<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="extremonature"
         name="Extremo Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uam.extremo.ui.nature.ExtremoProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="uam.extremo.ui.nature.command"
            name="Convert to Extremo Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uam.extremo.ui.nature.ExtremoProjectNatureHandler"
            commandId="uam.extremo.ui.nature.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="uam.extremo.ui.nature.command"
               icon="icons/extremoIcon16.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="uam.extremo.ui.nature.hasNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="uam.extremo.ui.nature.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="eagledata.core.nature.extremonature">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/Services-8.png"
            id="uam.extremo.ui.nature.extremonature.image"
            natureId="uam.extremo.ui.nature.extremonature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="uam.extremo.ui.nature.category"
            class="uam.extremo.ui.nature.newprojectwizard.ExtremoNewProjectWizard"
            finalPerspective="extremo.ui.perspective.extremo"
            hasPages="true"
            icon="icons/extremoIcon16.png"
            id="uam.extremo.ui.nature.newprojectwizard"
            name="New Extremo Project"
            project="true">
      </wizard>
      <category
            id="uam.extremo.ui.nature.category"
            name="Extremo">
      </category>
   </extension>

</plugin>
