<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.core.extensions.search">
      <customsearch
            class="uam.extremo.search.wordnet.WordnetSearch"
            id="uam.extremo.search.wordnet.search"
            name="Wordnet Search"
            filterBy="Resource">
         <option
               id="searchfield"
               name="Search"
               type="String">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.search.wordnet.DataPropertiesValueSearch"
            filterBy="DataProperty"
            id="uam.extremo.search.wordnet.datapropertiesvalue"
            name="Data Properties Value Search">
         <option
               id="valuefield"
               name="Value"
               type="String">
         </option>
      </customsearch>
      <customsearch
            class="uam.extremo.search.wordnet.DataPropertiesValueRangeSearch"
            filterBy="DataProperty"
            id="uam.extremo.search.wordnet.datapropertiesvalue"
            name="Data Properties Value Range">
         <option
               id="minvaluefield"
               name="MIn Value"
               type="Int">
         </option>
         <option
               id="maxvaluefield"
               name="Max Value"
               type="Int">
         </option>
      </customsearch>
   </extension>
</plugin>
