<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.core.extensions.assistant">
      <assistant
            class="uam.extremo.assistant.owl.OwlAssistant"
            extensions="owl"
            id="uam.extremo.assistant.owl.assistant"
            name="Owl">
      </assistant>
   </extension>
</plugin>
