<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uam.extremo.ui.perspective.ExtremoPerspective"
            fixed="true"
            icon="icons/extremoIcon16.png"
            id="extremo.ui.perspective.extremo"
            name="Extremo New">
      </perspective>
   </extension>

</plugin>
