<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="metardf.ui.preferences.page.RuleWeightPreferencePage"
            id="metaRDF.ui.preferences.page"
            name="Extremo">
      </page>
   </extension>
   <extension
         point="extremo.core.extensions.weights">
      <preferencessettings
            class="metardf.ui.preferences.page.AllTheSamePreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.allthesame"
            name="All the Same">
      </preferencessettings>
      <preferencessettings
            class="metardf.ui.preferences.page.DefinitionsPreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.definitions"
            name="Give preference to the defitions">
      </preferencessettings>
      <preferencessettings
            class="metardf.ui.preferences.page.SynonymsSharingPreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.synonymssharing"
            name="Synonyms sharing between senses">
      </preferencessettings>
      <preferencessettings
            class="metardf.ui.preferences.page.UsagesPreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.usages"
            name="Give preference to the usages">
      </preferencessettings>
   </extension>
</plugin>
