<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Extremo -->
      <package
            uri="http://www.core.extremo/SemanticManager"
            class="semanticmanager.SemanticmanagerPackage"
            genModel="model/Extremo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Extremo -->
      <package
            uri="constraints"
            class="semanticmanager.constraints.ConstraintsPackage"
            genModel="model/Extremo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Extremo -->
      <package
            uri="queries"
            class="semanticmanager.queries.QueriesPackage"
            genModel="model/Extremo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Extremo -->
      <package
            uri="dataModel"
            class="semanticmanager.dataModel.DataModelPackage"
            genModel="model/Extremo.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="semanticmanager.impl.ExtendedSemanticmanagerFactoryImpl"
            uri="http://www.core.extremo/SemanticManager">
      </factory>
   </extension>

</plugin>
