<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="extremo.ui.extensions.actions" name="extremo.ui.extensions.actions" schema="schema/extremo.ui.extensions.actions.exsd"/>
   <extension-point id="extremo.ui.extensions.drop" name="extremo.ui.extensions.drop" schema="schema/extremo.ui.extensions.drop.exsd"/>
   <extension-point id="extremo.ui.extensions.filters" name="extremo.ui.extensions.filters" schema="schema/extremo.ui.extensions.filters.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Extremo"
            id="metaRDF.ui">
      </category>
      <view
            category="metaRDF.ui"
            class="metardf.ui.views.repositories.RepositoryViewPart"
            icon="icons/site_element.gif"
            id="metardf.ui.views.RepositoryView"
            name="Repositories">
      </view>
      <view
            category="metaRDF.ui"
            class="metardf.ui.views.entities.EntityViewPart"
            icon="icons/hierarchy_co.gif"
            id="metardf.ui.views.EntityView"
            name="Entities">
      </view>
      <view
            category="metaRDF.ui"
            class="metardf.ui.views.searchtree.SearchTreeView"
            icon="icons/searchtree.png"
            id="metardf.ui.views.SearchTree"
            name="Search Tree"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="metardf.ui.views.EntityView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="metardf.ui.views.RepositoryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="metardf.ui.perspective">
         <view
               id="metardf.ui.views.EntityView"
               minimized="false"
               relationship="bottom"
               relative="metardf.ui.views.RepositoryView">
         </view>
         <view
               id="metardf.ui.views.RepositoryView"
               minimized="false"
               relationship="bottom">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="metardf.ui.views.EntityView"
            labelProvider="metardf.ui.views.entities.EntityTreeViewLabelProvider">
         <propertyCategory
               category="metardf"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="metardf.ui.views.EntityView">
         <propertyTab
               category="metardf"
               id="metardf.ui.views.properties.SemanticElementTab"
               image="icons/occ_read.gif"
               label="Basic Info">
         </propertyTab>
         <propertyTab
               afterTab="metardf.ui.views.properties.SemanticElementTab"
               category="metardf"
               id="metardf.ui.views.properties.RepositoryTab"
               image="icons/3d_objects_16.png"
               label="Repository">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="metardf.ui.views.EntityView">
         <propertySection
               class="metardf.ui.views.properties.entitytab.NameSection"
               filter="metardf.ui.views.properties.entitytab.BasicInformationSectionFilter"
               id="metardf.ui.views.properties.entitytab.NameSection"
               tab="metardf.ui.views.properties.SemanticElementTab">
         </propertySection>
         <propertySection
               afterSection="metardf.ui.views.properties.entitytab.NameSection"
               class="metardf.ui.views.properties.entitytab.DescriptionSection"
               filter="metardf.ui.views.properties.entitytab.BasicInformationSectionFilter"
               id="metardf.ui.views.properties.entitytab.DescriptionSection"
               tab="metardf.ui.views.properties.SemanticElementTab">
         </propertySection>
         <propertySection
               class="metardf.ui.views.properties.entitytab.RepositoryNameSection"
               filter="metardf.ui.views.properties.entitytab.RepositorySectionFilter"
               id="metardf.ui.views.properties.entitytab.RepositoryNameSection"
               tab="metardf.ui.views.properties.RepositoryTab">
         </propertySection>
         <propertySection
               afterSection="metardf.ui.views.properties.entitytab.RepositoryNameSection"
               class="metardf.ui.views.properties.entitytab.RepositoryUriSection"
               filter="metardf.ui.views.properties.entitytab.RepositorySectionFilter"
               id="metardf.ui.views.properties.entitytab.RepositoryUriSection"
               tab="metardf.ui.views.properties.RepositoryTab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="metardf.ui.preferences.page.RuleWeightPreferencePage"
            id="metaRDF.ui.preferences.page"
            name="Extremo">
      </page>
   </extension>
   <extension
         point="metardf.core.extensions.preferences.settings">
      <preferencessettings
            class="metardf.ui.preferences.page.settings.AllTheSamePreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.allthesame"
            name="All the Same">
      </preferencessettings>
      <preferencessettings
            class="metardf.ui.preferences.page.settings.DefinitionsPreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.definitions"
            name="Give preference to the defitions">
      </preferencessettings>
      <preferencessettings
            class="metardf.ui.preferences.page.settings.SynonymsSharingPreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.synonymssharing"
            name="Synonyms sharing between senses">
      </preferencessettings>
      <preferencessettings
            class="metardf.ui.preferences.page.settings.UsagesPreferencePointSettings"
            id="metardf.core.extensions.preferences.settings.usages"
            name="Give preference to the usages">
      </preferencessettings>
   </extension>

</plugin>
