<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uam.extremo.ui.views.actions.compositesearch.AndCompositeSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.and"
            name="Create AND Composite Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.actions.compositesearch.OrCompositeSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.or"
            name="Create OR Composite Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.actions.compositesearch.NotCompositeSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.not"
            name="Create NOT Composite Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.actions.compositesearch.LinkSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.link"
            name="Link a Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.actions.compositesearch.ComputeCompositeQueryHandler"
            id="uam.extremo.ui.views.actions.compositesearch.compute"
            name="Compute Composite Query">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.SearchTree">
         <menu
               icon="icons/compositesearch.png"
               label="Composite Queries">
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.compute"
                  icon="icons/calculator16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.link"
                  icon="icons/link16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.not"
                  icon="icons/not16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.SimpleSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.or"
                  icon="icons/or16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.SimpleSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.and"
                  icon="icons/and16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.SimpleSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.not"
                  icon="icons/not16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.or"
                  icon="icons/or16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.and"
                  icon="icons/and16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
