<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 	<extension
         point="extremo.core.extensions.assistant">
      <assistant
            class="uam.extremo.extensions.assistants.EcoreAssistant"
            eval="OCL"
            extensions="ecore, xmi"
            id="extremo.core.ecore.assistant"
            name="Ecore">
      </assistant>
   </extension>
   <extension
         point="extremo.core.extensions.assistant">
      <assistant
            class="uam.extremo.extensions.assistants.OntologiesAssistant"
            extensions="owl, rdf, xml"
            id="extremo.assistant.ontologies"
            name="Ontologies">
      </assistant>
   </extension>
   <extension
         point="extremo.core.extensions.assistant">
      <assistant
            class="uam.extremo.extensions.assistants.XsdAssistant"
            extensions="xsd, xml"
            id="extremo.core.xsd.assistant"
            name="Xsd">
      </assistant>
   </extension>
</plugin>
