<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.views">
      <category
            name="Extremo"
            id="extremo.ui.views">
      </category>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.repositories.RepositoryViewPart"
            icon="icons/repository.png"
            id="uam.extremo.ui.views.RepositoryView"
            name="Repositories"
            restorable="true">
      </view>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.searchtree.SearchTreeViewPart"
            icon="icons/queries.png"
            id="uam.extremo.ui.views.SearchTree"
            name="Searches"
            restorable="true">
      </view>
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.views.constraints.ConstraintValidationViewPart"
            icon="icons/constraints.png"
            id="uam.extremo.ui.views.ConstraintInterpreters"
            name="Constraints"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="extremo.ui.perspective.extremo">
         <view
               closeable="false"
               id="uam.extremo.ui.views.RepositoryView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uam.extremo.ui.views.SearchTree"
               minimized="false"
               relationship="right"
               relative="uam.extremo.ui.views.RepositoryView"
               visible="true">
         </view>
         <view
               closeable="false"
               id="uam.extremo.ui.views.ConstraintInterpreters"
               minimized="false"
               relationship="stack"
               relative="uam.extremo.ui.views.SearchTree"
               visible="true">
         </view>
         <perspectiveShortcut
               id="extremo.ui.perspective.extremo">
         </perspectiveShortcut>
         <viewShortcut
               id="uam.extremo.ui.views.RepositoryView">
         </viewShortcut>
         <viewShortcut
               id="uam.extremo.ui.views.SearchTree">
         </viewShortcut>
         <viewShortcut
               id="uam.extremo.ui.views.ConstraintInterpreters">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uam.extremo.ui.views.modeltraversals.SearchSemanticNodesHandler"
            id="uam.extremo.ui.views.searchsemanticNodes"
            name="Search">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.modeltraversals.GoToTypeHandler"
            id="uam.extremo.ui.views.goToType"
            name="Go To Type">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.modeltraversals.GoToParentHandler"
            id="uam.extremo.ui.views.goToTypeContainer"
            name="Go To Type Container">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.modeltraversals.GoToDomainHandler"
            id="uam.extremo.ui.views.goToDomain"
            name="Go To Domain">
            <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.SemanticNode">
                     </instanceof>
                  </iterate>
            </visibleWhen>
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.repositories.DeleteHandler"
            id="uam.extremo.ui.views.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="uam.extremo.ui.views.modeltraversals.RevealOnRepositoryHandler"
            id="uam.extremo.ui.views.reveal"
            name="Reveal On Repository">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.RepositoryView">
         <command
               commandId="uam.extremo.ui.views.searchsemanticNodes"
               icon="icons/queries.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.delete"
               icon="icons/delete.png"
               style="push">
         </command>
         <separator
               name="uam.extremo.ui.views.separator1">
         </separator>
         <command
               commandId="uam.extremo.ui.views.goToType"
               icon="icons/type.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.goToTypeContainer"
               icon="icons/container.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.goToDomain"
               icon="icons/domain.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uam.extremo.ui.views.RepositoryView">
         <command
               commandId="uam.extremo.ui.views.searchsemanticNodes"
               icon="icons/queries.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.SearchTree">
         <command
               commandId="uam.extremo.ui.views.delete"
               icon="icons/delete.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.reveal"
               icon="icons/ruveal.png"
               style="push">
         </command>
         <separator
               name="uam.extremo.ui.views.separator1">
         </separator>
         <command
               commandId="uam.extremo.ui.views.goToType"
               icon="icons/type.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.goToTypeContainer"
               icon="icons/container.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.goToDomain"
               icon="icons/domain.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="uam.extremo.ui.views.ConstraintInterpreters">
         <command
               commandId="uam.extremo.ui.views.delete"
               icon="icons/delete.png"
               style="push">
         </command>
         <separator
               name="uam.extremo.ui.views.separator1">
         </separator>
         <command
               commandId="uam.extremo.ui.views.goToType"
               icon="icons/type.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.goToTypeContainer"
               icon="icons/container.png"
               style="push">
         </command>
         <command
               commandId="uam.extremo.ui.views.goToDomain"
               icon="icons/domain.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="uam.extremo.ui.wizards.search.SearchWizardDialog"
            descriptionImage="icons/searchBig.png"
            finalPerspective="extremo.ui.perspective.extremo"
            id="uam.extremo.ui.wizards.searchnew"
            name="Search">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="extremo.ui.perspective.extremo">
         <newWizardShortcut
               id="uam.extremo.ui.wizards.searchnew">
         </newWizardShortcut>
         <newWizardShortcut
               id="uam.extremo.ui.wizards.composeaquery">
         </newWizardShortcut>
         <newWizardShortcut
               id="uam.extremo.ui.nature.newprojectwizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="semanticmanager.presentation.SemanticmanagerModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="extremo.ui.views"
            class="uam.extremo.ui.viz.ResourceExplorerViewPart"
            icon="icons/explore16.png"
            id="uam.extremo.ui.zest.views.InheritanceGraphViewPart"
            name="Resource Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.RepositoryView">
         <command
               commandId="uam.extremo.ui.views.exploreConnections"
               icon="icons/explorer16.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="semanticmanager.Resource">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="extremo.ui.perspective.extremo">
         <view
               closeable="false"
               id="uam.extremo.ui.zest.views.InheritanceGraphViewPart"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="uam.extremo.ui.views.RepositoryView"
               visible="true">
         </view>
         <viewShortcut
               id="uam.extremo.ui.zest.views.InheritanceGraphViewPart">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uam.extremo.ui.viz.ExploreConnectionsHandler"
            id="uam.extremo.ui.views.exploreConnections"
            name="Call Resource Explorer">
      </command>
   </extension>
    
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uam.extremo.ui.perspective.ExtremoPerspective"
            fixed="false"
            icon="icons/extremoIcon16.png"
            id="extremo.ui.perspective.extremo"
            name="Extremo">
      </perspective>
   </extension>
   
	<extension
         id="extremonature"
         name="Extremo Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uam.extremo.ui.nature.ExtremoProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
	</extension>
	
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="uam.extremo.ui.nature.command"
            name="Convert to Extremo Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uam.extremo.ui.nature.ExtremoProjectNatureHandler"
            commandId="uam.extremo.ui.nature.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="uam.extremo.ui.nature.command"
               icon="icons/extremoIcon16.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="uam.extremo.ui.nature.hasNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="uam.extremo.ui.nature.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="uam.extremo.ui.extremonature">
            </test>
         </adapt>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/Services-8.png"
            id="uam.extremo.ui.nature.extremonature.image"
            natureId="uam.extremo.ui.extremonature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="uam.extremo.ui.nature.category"
            class="uam.extremo.ui.wizards.newproject.ExtremoNewProjectWizard"
            finalPerspective="extremo.ui.perspective.extremo"
            hasPages="true"
            icon="icons/extremoIcon16.png"
            id="uam.extremo.ui.nature.newprojectwizard"
            name="New Extremo Project"
            project="true">
      </wizard>
      <category
            id="uam.extremo.ui.nature.category"
            name="Extremo">
      </category>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uam.extremo.ui.actions.compositesearch.AndCompositeSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.and"
            name="Create AND Composite Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.actions.compositesearch.OrCompositeSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.or"
            name="Create OR Composite Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.actions.compositesearch.NotCompositeSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.not"
            name="Create NOT Composite Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.actions.compositesearch.LinkSearchConfigurationHandler"
            id="uam.extremo.ui.views.actions.compositesearch.link"
            name="Link a Search Configuration">
      </command>
      <command
            defaultHandler="uam.extremo.ui.actions.compositesearch.ComputeCompositeQueryHandler"
            id="uam.extremo.ui.views.actions.compositesearch.compute"
            name="Compute Composite Query">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:uam.extremo.ui.views.SearchTree">
         <menu
               icon="icons/compositesearch.png"
               label="Composite Queries">
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.compute"
                  icon="icons/calculator16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.link"
                  icon="icons/link16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.not"
                  icon="icons/not16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.SimpleSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.or"
                  icon="icons/or16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.SimpleSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.and"
                  icon="icons/and16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.SimpleSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.not"
                  icon="icons/not16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.or"
                  icon="icons/or16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="uam.extremo.ui.views.actions.compositesearch.and"
                  icon="icons/and16.png"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="semanticmanager.CompositeSearchConfiguration">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="uam.extremo.ui.nature.category"
            class="uam.extremo.ui.wizards.loader.LoaderWizard"
            icon="icons/extremoIcon16.png"
            id="uam.extremo.ui.newmodelloaderwizard"
            name="Load Existing Model Persistence">
      </wizard>
      <wizard
            class="uam.extremo.ui.wizards.saver.SaverWizard"
            icon="icons/extremoIcon16.png"
            id="uam.extremo.ui.newmodelexporterwizard"
            name="Save Existing Model Persistence">
      </wizard>
   </extension>
   
   
</plugin>
