<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="extremo.ui.extensions.filters">
      <filter
            class="metardf.ui.views.entities.filters.ShowEntitiesWithAttrFilter"
            icon="icons/filter_properties.gif"
            id="metaRDF.ui.views.filters.showEntitiesWithAttrs"
            name="Show entities with attributes"
            view="entities">
      </filter>
      <filter
            class="metardf.ui.views.entities.filters.ShowAllFilter"
            icon="icons/alpha_mode.gif"
            id="metaRDF.ui.views.filters.showAll"
            name="Show All"
            view="entities">
      </filter>
      <filter
            class="metardf.ui.views.entities.filters.EntityFilter"
            icon="icons/filter_top_level.gif"
            id="metaRDF.ui.views.filters.showEntitiesOnly"
            name="Show main entities only"
            view="entities">
      </filter>
   </extension>

</plugin>
